# Core dependencies
flask
flask-cors
python-dotenv
nest-asyncio

# LangChain and related libraries
langchain-nomic
langchain_community
llama-index-embeddings-langchain
tiktoken
langchainhub
langchain
langgraph
tavily-python
llama-index
llama-parse
llama-index-llms-groq
llama-index-embeddings-fastembed
llama-index-vector-stores-qdrant
qdrant-client
langchain-groq

# Google and gRPC libraries
protobuf
google-api-python-client
google-cloud-storage
grpcio

# Other dependencies
typing-extensions
